.barChart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    gap: 4px;
    margin: 4px;
    padding: 0px;
    border-bottom: black solid 1px;
    border-left: black solid 1px;
}

.data {
    margin-left: 10px;
    margin-top: -2px;
    height: 3px;
    font-size: 4px;
    font-weight: bold;
}

.display {
    display: flex;
    justify-content: space-between;
}