.body{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.container{
    border-left-style: solid;
    border-bottom-style: solid;
    height: 250px;
    width: 250px;
    margin: 20px;
}