.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 85vh;
}

.footer{
  display: flex;
  flex: 1;
  margin-top: 2rem;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.sidebar{
  height: 100%;
  width: 20%;
  backgound-color: #be8f1f;
  margin: 0;
  padding: 0;
}
