.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.waffleContainer{
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
}
.wafflebox{
  min-height: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 23% 23% 23% 23%;
  padding:30px;
  grid-gap:5px 30px;
}
.wafflebox>div{
  display: flex;
  padding: 5px;
  align-items: center;
  text-align: center;
  border-style: solid;
  border-color: darkgoldenrod;
  flex-direction: column;
  align-content: center;
}

.footer{
  display: flex;
  flex: 1;
  margin-top: 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  bottom: 0;
  max-height: 30px;
}
