.body{
    width: 100%;
    min-height: 90vh;
    display: flex;
    margin-left: 10px;
}
.columnleft{
    float: left;
    width: 25%;
    height: 85vh;
    background-color: rgba(178, 185, 189, 0.3);
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: rgba(178, 185, 189, 0.65);
    padding-top: 10px;
}
.columnright{
    float: left;
    width: 80%;
    display: flex;
    flex-direction: column;
    font-style: italic;
    margin-left: 10px;
}
.figure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.listItem{
    display: flex;
    padding: 2px 2px;
    justify-content: space-between;
}
.backButton{
    width: 50%;
    margin-left: 25%;
    background-color: #a5b5ec;
    border-style: hidden;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.comparisonContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.comparisonCard{
    width: 80%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.barChart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 200px;
    gap: 4px;
    margin: 4px;
    padding: 0px;
}
.group{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
}

.annotation{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.task {
    font-size: 15px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    background-color: rgba(30, 144, 255, 0.17);
    /*border: dodgerblue solid 3px;*/
    box-shadow: 2px 2px 2px #a5b5ec;
    margin: 5px;
}
