.sidebar {
    height: 80vh;
    width: 35vh;
    background-color: rgba(255, 247, 210, 0.54);
    overflow: scroll;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.picture {
    width: 50px;
    height: 50px;
    border-radius: 15%;
    margin-left: 10px;
}

.title {
    font-family: inter, serif;
    font-weight: bold;
    font-size: 15px;
    width: 150px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.infoSinger {
    font-family: Courier, serif;
    font-size: 12px;
    margin-left: 10px;
    margin-top: 3px;
}

.infoOther {
    font-family: Courier, serif;
    font-size: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    width: 210px;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-top: 20px;
    background-color: #eaeaea;
}

.vertical {
    vertical-align: middle;
}