.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.waffleContainer{
  display: flex;
  align-items: center;
}
.wafflebox{
  flex-grow: 1;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 23% 23% 23% 23%;
  padding:30px;
  gap:20px 30px;
}
.wafflebox>div{
  display: flex;
  padding: 5px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-content: center;
}

.footer{
  display: flex;
  flex: 1;
  margin-top: 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  bottom: 0;
  max-height: 30px;
}

.backButton {
  text-align: center;
  background-color: #a5b5ec;
  color: black;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
  padding: 10px 0;
  justify-content: right;
  display: block;
}
.body{
  min-height: 90vh;
}