.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.waffleContainer{
  display: flex;
  align-items: center;
}

.wafflebox{
  flex-grow: 1;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 10px;
  gap: 10px 20px;
}

.wafflebox>div{
  display: flex;
  padding: 0px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  align-content: center;
}

.footer{
  display: flex;
  margin-top: 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.backButton {
  text-align: center;
  background-color: #a5b5ec;
  color: black;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 130px;
  padding: 10px 0;
  justify-content: right;
  display: block;
  margin-left: 50px;
}
.body{
  min-height: 85vh;
  display: flex;
}


.leftSide {
  float: left;
  width: 200px;
  height: auto;
}

.label {
  width: 250px;
  height: auto;
  bottom: 0;
}

.instruction {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

.task {
  margin-left: 10px;
  font-size: 15px;
}